<%- include('layouts/main') %>

<head>
  <link rel="stylesheet" href="/register.css"> <!-- Link to register-specific CSS -->
</head>
<div class="register-container">
  <!-- Left Panel -->
  <div class="left-panel">
    <h2>Let Us Know You!</h2>
    <form action="/auth/register" method="POST">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter Username" required>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter Password" required>
      <button type="submit">Register</button>
    </form>
  </div>

  <!-- Right Panel -->
  <div class="right-panel">
    <h1>Create And Sell Extraordinary Products</h1>
    <p>Adopt the peace of nature!</p>
  </div>
</div>
