<%- include('./layouts/main', { title: 'Register' }) %>
<div class="auth-form">
  <h1>Register</h1>
  <form action="/auth/register" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Register</button>
  </form>
</div>
