/* General Styles */
body {
  font-family: "Montez", cursive;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  background-color: #aa8851;
  color: #333;
}

header {
  background: #aa8851;
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
  padding-top: 120px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}

header h1 {
  margin: 0;
  font-size: 3.5rem;
  font-family: "Montez", cursive;
}

header p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: #e0f2f1;
  font-weight: lighter;
    font-family: "Lora", serif;
}

/* Section Styling */
section {
  margin: 2rem auto;
  max-width: 900px;
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
}

h2 {
  color: #aa8851;
  font-size: 2rem;
  margin-bottom: 1rem;
    font-family: "Montez", cursive;
}

ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}



ul li {
  margin-bottom: 0.5rem;
}

strong {
  color: #aa8851;
}

/* Team Section */
.team {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.team div {
  background: rgba(245, 235, 224, 0.8);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.team div:hover {
  transform: scale(1.05);
}

.team h3 {
  color: #aa8851;
  margin: 0.5rem 0;
  font-size:2rem;
    font-family: "Montez", cursive;
}

.team-description {
  text-align: center;
  margin-top: 1rem;
}



/* Navigation Buttons */
.navigation-buttons {
  text-align: center;
  margin: 2rem 0;
}

.nav-button {
  text-decoration: none;
  background: #4caf50;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  transition: background 0.3s ease;
}

.nav-button:hover {
  background: #aa8851;
}