/* General Page Styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Montez", cursive;
}

/* Hero Section */
.hero {
  text-align: center;
  background: url('https://images.pexels.com/photos/772520/pexels-photo-772520.jpeg?auto=compress&cs=tinysrgb&w=800') no-repeat center center/cover;
  padding: 300px 20px;
  color: white;
}

.hero h1 {
  font-size: 7em;
  font-weight: bold;
}

.hero p {
  font-size: 2.3em;
  margin-top: 10px;
}

/* Categories Section */
.categories {
  padding: 50px 20px;
  position: relative;
}

.categories h2 {
  font-size: 4em;

  margin-bottom: 20px;
  text-align: center;
  font-weight: lighter;
  color: #62445E;
  padding-left: 10px;
}

.category-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.category-buttons {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.category-buttons::-webkit-scrollbar {
  display: none;
}


.category-buttons button {
  padding: 12px 30px;
  border: 1px solid #62445E;
  background-color: white;
  font-size: 1.1em;
  font-family: "Lora", serif;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.category-buttons button:hover {
  background-color: #62445E;
  color: white;
}

/* Scroll Buttons */
.scroll-left,
.scroll-right {
  display: none; /* Initially hide the buttons */
  background-color: rgba(98, 68, 94, 0.9);
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.scroll-left:hover,
.scroll-right:hover {
  background-color: white;
  color: #62445E;
}

.scroll-left {
  left: 10px;
}

.scroll-right {
  right: 10px;
}


/* Featured Section */
.featured {
  padding: 50px 20px;
  text-align: center;
}

.featured h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #62445E;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.gallery-item h3 {
  font-size: 1.2em;
  color: #62445E;
  margin-top: 10px;
}

.gallery-item p {
  font-size: 1em;
  color: #666;
  margin-top: 5px;
}
